* {
	font-family: 'Audiowide', Arial, sans-serif;
}

body {
	background-color: #222;
	color: white;
}

h1 {
	font-size: 3.0em;
}

h1#my-shine-object {
	text-align: center;
	color: white;
}

a {
	color: #44f;
}
.container {
	margin: 0 auto;
	background-color: black;
}

header {
	margin: 10px auto;
	width: 200px;
	height: 200px;
	background: url("/img/USCM-logo-200px.png") center center no-repeat;
}

footer {
	height: 50px;
	text-align: center;
}

#shTabs {
	padding: 10px 0 20px 0;
}

/* Remove blue accessibility outline */
.ui-accordion-header {
	outline: none;
}
#shTabs li a
{
    outline: none;
}​


/*
span#image1 {
	background-image: url("http://vignette4.wikia.nocookie.net/avp/images/8/8f/M41A_Pulse_Rifle.png");
}
*/

div.weaponTab p {
	font-family: Courier;
}

div.weaponTab img {

}

form button {
	color: black;
}

#crewRoster {
	margin: 20px 0 20px 0;
	min-height: 350px;
	background-color: black;
	color: #02f502;
	border-radius: 5px;
	padding: 20px;
}

#crewRoster p,
#crewRoster li {
	font-family: Courier;
}

#slideshow{
	background-color: #333;
	margin: 20px auto;
	padding: 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

/* Tooltip */
#tooltip-container {
	position:fixed;
	font-size: 0.8em;
	color: #fff;
	background-color: rgba(50,50,50,.8);
	width: 200px;
	padding: 10px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	display: none;
}

.tooltip-html-source {
	display: none;
}

#tooltip-container img {
	float: left;
	padding-right: 10px;
}

#tooltip-container p {
	
}

/* Live Chat Styles*/
#wrapper,#loginform {
    margin: 0 auto;
    padding-bottom: 25px;
    background: #EBF4FB;
    width: 504px;
    border: 1px solid #ACD8F0;
}
 
#loginform {
    padding-top: 18px;
}
 
#loginform p {
    margin: 5px;
}
 
#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 270px;
    width: 430px;
    border: 1px solid #ACD8F0;
    overflow: auto;
}
 
#usermsg {
    width: 395px;
    border: 1px solid #ACD8F0;
}
 
#submit {
    width: 60px;
}
 
.error {
    color: #ff0000;
}
 
#menu {
    padding: 12.5px 25px 12.5px 25px;
}
 
.welcome {
    float: left;
}
 
.logout {
    float: right;
}
 
.msgln {
    margin: 0 0 2px 0;
}
